body {
    font-family: 'Segoe UI Variable Text Light, sans-serif';
    background: #3b3b3b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.container {
    background: rgb(51, 99, 117);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#text {
    font-size: 18px;
    margin-bottom: 20px;
}

#input {
    width: 100%;
    height: 100px;
    font-size: 16px;
    padding: 10px;
}

.stats {
    margin-top: 20px;
    font-size: 18px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

